@import "tailwindcss";

@plugin "daisyui";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: light) {
    :root {
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}


.Head_Admin, .Secretary, .Lead_Staff, .Kahoot, .Logistics, .Media,
.Wordle, .Mini_Tournament, .Partner, .Donator, .Collaborator {
    border-radius: 1rem;
}

.Head_Admin {
    background-color: aquamarine;
}

.Secretary {
    background-color: var(--color-red-600);
    color: var(--color-white);
}

.Lead_Staff {
    background-color: var(--color-red-300);
}

.Kahoot {
    background-color: var(--color-purple-300);
}

.Logistics {
    background-color: cornflowerblue;
}

.Media {
    background-color: aqua;
}

.Wordle {
    background-color: var(--color-gray-300);
}

.Mini_Tournament {
    background-color: var(--color-amber-300);
}

.Partner, .Donator, .Collaborator {
    background-color: var(--color-orange-300);
}

@utility bg-vns-noise {
    background-color: white;
}
