@import "tailwindcss";

@plugin "daisyui";

@utility layout-height {
    /* Credit: Cerberose @ PR#5 */
    /* 70px is the height of NavBar */
    @apply min-h-[calc(100svh_-_70px)];
}

@utility crew-role-generic {
    border-radius: 1rem;
}

.Event_Director,
.Co-Director,
.MC {
    background-color: var(--color-red-500);
    color: var(--color-white);
}

.Consultant {
    background-color: var(--color-red-500);
    color: var(--color-white);
}

.Secretary {
    background-color: var(--color-red-300);
    color: var(--color-amber-900)
}

.Minigame{
    background-color: var(--color-yellow-100);
    color: var(--color-black);
}

.ALL {
    background-color: var(--color-black);
    color: var(--color-white);
}
.IT {
    background-color: var(--color-orange-400);
}

.Logistics {
    background-color: var(--color-sky-300);
}

.Kahoot {
    background-color: var(--color-purple-300);
}

.Multimedia {
    background-color: var(--color-cyan-400);
}

/* Partner roles */
.VCL {
    background-color: var(--color-rose-500);
    color: var(--color-white);
}

.Illustration_Artist {
    background-color: var(--color-purple-700);
    color: var(--color-white);
}

.Sponsor {
    background-color: var(--color-emerald-800);
    color: var(--color-white);
}

.Donator {
    background-color: var(--color-emerald-200);
}

.Concept_Artist {
    background-color: var(--color-blue-200);
    color: var(--color-blue-600);
}

.Graphic_Designer {
    background-color: var(--color-blue-200);
}

.Photographer {
    background-color: var(--color-yellow-200);
}

.Videographer {
    background-color: var(--color-red-300);
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
