@use "../../styles/responsive.scss";

.typography {
    &.headline {
        line-height: 150%;

        &.headline_1 {
            font-size: 3rem;
            line-height: 125%;

            @include responsive.screen(md) {
                font-size: 4rem;
            }

            @include responsive.screen(lg) {
                font-size: 6rem; // 96px
            }
        }

        &.headline_2 {
            font-size: 2rem;

            @include responsive.screen(md) {
                font-size: 2.75rem;
            }

            @include responsive.screen(lg) {
                font-size: 3.5rem; // 56px
            }
        }

        &.headline_3 {
            font-size: 1.75rem;

            @include responsive.screen(md) {
                font-size: 2.25rem;
            }

            @include responsive.screen(lg) {
                font-size: 3rem; // 48px
            }
        }

        &.headline_4 {
            font-size: 1.5rem;

            @include responsive.screen(md) {
                font-size: 1.75rem;
            }

            @include responsive.screen(lg) {
                font-size: 2.25rem; // 36px
            }
        }

        &.headline_5 {
            font-size: 1.25rem;

            @include responsive.screen(md) {
                font-size: 1.5rem;
            }

            @include responsive.screen(lg) {
                font-size: 2rem; // 32px
            }
        }

        &.headline_6 {
            font-size: 1rem;

            @include responsive.screen(md) {
                font-size: 1.25rem;
            }

            @include responsive.screen(lg) {
                font-size: 1.75rem; // 28px
            }
        }
    }

    &.title {
        font-weight: 500;

        &.title_1 {
            line-height: 125%;
            font-size: 1.125rem;

            @include responsive.screen(lg) {
                font-size: 1.5rem; // 24px
            }
        }
        &.title_2 {
            font-size: 1rem;
            line-height: 125%;

            @include responsive.screen(lg) {
                font-size: 1.25rem; // 20px
            }
        }
        &.title_3 {
            font-size: 1rem;
            line-height: 125%;

            @include responsive.screen(lg) {
                font-size: 1.125rem; // 18px
            }
        }
        &.title_4 {
            font-size: 0.875rem;
            line-height: 150%;

            @include responsive.screen(lg) {
                font-size: 1rem; // 16px
            }
        }
        &.title_5 {
            font-size: 0.875rem; // 14px
            line-height: 150%;
        }
    }

    &.label {
        font-weight: 400;

        &.label_1 {
            font-size: 1rem;
            line-height: 125%;

            @include responsive.screen(lg) {
                font-size: 1.5rem; // 24px
            }
        }
        &.label_2 {
            font-size: 0.875rem;
            line-height: 125%;

            @include responsive.screen(lg) {
                font-size: 1.25rem; // 20px
            }
        }
        &.label_3 {
            font-size: 0.875rem;
            line-height: 150%;

            @include responsive.screen(lg) {
                font-size: 1rem; // 16px
            }
        }
        &.label_4 {
            font-size: 0.75rem;
            line-height: 150%;

            @include responsive.screen(lg) {
                font-size: 0.875rem; // 14px
            }
        }
        &.label_5 {
            font-size: 0.75rem; // 12px
            line-height: 150%;
        }
    }

    &.body {
        font-weight: 400;

        &.body_1 {
            font-size: 1rem;
            line-height: 125%;

            @include responsive.screen(lg) {
                font-size: 1.25rem; // 20px
            }
        }
        &.body_2 {
            font-size: 1rem; // 16px
            line-height: 150%;
        }
        &.body_3 {
            font-size: 0.875rem;
            line-height: 150%;

            @include responsive.screen(lg) {
                font-size: 0.875rem; // 14px
            }
        }
        &.body_4 {
            font-size: 0.75rem; // 12px
            line-height: 150%;
        }
    }
}
